<h1 id="page-title"><%= @title %></h1>

<div class="container">
  <a class="links" href="<%= @black_square_link %>">
    <img class="icons" src="http://static1.squarespace.com/static/55fc0004e4b069a519961e2d/t/55fc06a8e4b043168701253c/1460111153131/?format=1000w"/>
  </a>
  <a class="links" href="<%= @gold_star_link %>">
    <img class="icons" src="http://www.elm.org/wp-content/uploads/2014/05/gold-star.jpg"/>
  </a>
  <h1><%= @gold_stars %></h1>
<div>
